<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Custom MadLib!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in the following boxes to complete a Madlibs story! We hope you enjoy the adventure.</h1>
    <form action="/story2" method="post">
      <label for="adj1">Adjective</label>
      <input id="adj1" name="adj1" type="text">
      <label for="adj2">Adjective</label>
      <input id="adj2" name="adj2" type="text">
      <label for="noun1">Noun</label>
      <input id="noun1" name="noun1" type="text">
      <label for="noun2">Noun</label>
      <input id="noun2" name="noun2" type="text">
      <label for="pluralNoun1">Plural Noun</label>
      <input id="pluralNoun1" name="pluralNoun1" type="text">
      <label for="game1">Game</label>
      <input id="game1" name="game1" type="text">
      <label for="pluralNoun2">Plural Noun</label>
      <input id="pluralNoun2" name="pluralNoun2" type="text">
      <label for="verbIng1">Verb ending with "-ing"</label>
      <input id="verbIng1" name="verbIng1" type="text">
      <label for="verbIng2">Verb ending with "-ing"</label>
      <input id="verbIng2" name="verbIng2" type="text">
      <label for="pluralNoun3">Plural Noun</label>
      <input id="pluralNoun3" name="pluralNoun3" type="text">
      <label for="verbIng3">Verb ending with "-ing"</label>
      <input id="verbIng3" name="verbIng3" type="text">
      <label for="noun3">Noun</label>
      <input id="noun3" name="noun3" type="text">
      <label for="plant1">Plant</label>
      <input id="plant1" name="plant1" type="text">
      <label for="body1">Part of the body</label>
      <input id="body1" name="body1" type="text">
      <label for="place1">Place</label>
      <input id="place1" name="place1" type="text">
      <label for="verbIng4">Verb ending with "-ing"</label>
      <input id="verbIng4" name="verbIng4" type="text">
      <label for="adj3">Adjective</label>
      <input id="adj3" name="adj3" type="text">
      <label for="number">Number</label>
      <input id="number" name="number" type="text">
      <label for="pluralNoun4">Plural Noun</label>
      <input id="pluralNoun4" name="pluralNoun4" type="text">
      <button type ="submit">See My Story!</button> 
    </form>
  </body>
</html>